html {
  font-size: 10px;
}
.header {
  width: 100%;
  background-color: #89be48;
  position: fixed;
  top: 0;
  z-index: 999;
}
.header .header-content {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header .header-content .header-title {
  margin: 0 auto;
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content {
  width: 100%;
  overflow: hidden;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.content .stroll-all-item {
  width: 50%;
  float: left;
}
.content .stroll-all-item .stroll-item {
  margin: 3%;
  width: 94%;
  clear: both;
}
.content .stroll-all-item .stroll-item .cat-menu-a {
  width: 47%;
  min-height: 3rem;
  background-color: #eaeaea;
  border: 0;
  border-radius: 8px;
  vertical-align: bottom;
  font-size: 1.35rem;
  color: #4a4a4a;
  padding: 0.95rem 0.5%;
  margin: 1%;
  float: left;
  text-align: center;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content .stroll-all-item .stroll-item .stroll-type-item {
  margin: 0 1%;
}
.content .stroll-all-item .stroll-item .stroll-type-item .stroll-item-layer {
  position: relative;
  border-radius: 8px;
}
.content .stroll-all-item .stroll-item .stroll-type-item .stroll-item-layer .stroll-item-img {
  width: 100%;
  border-radius: 8px;
}
.content .stroll-all-item .stroll-item .stroll-type-item .stroll-item-layer .tag-new {
  background-color: #79da87;
  max-width: 94%;
  overflow: hidden;
  display: inline-block;
  text-align: left;
  font-size: 0.8rem;
  color: #fff;
  line-height: 1.4rem;
  text-transform: uppercase;
  padding: 0 0.5rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
  z-index: 6;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
}
.content .stroll-all-item .stroll-item .stroll-type-item .stroll-item-title {
  font-size: 0.95rem;
  padding: 0.4rem 0 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
}
.content .stroll-all-item .stroll-item .stroll-type-item .stroll-item-title a {
  color: #333;
  font-size: 1.35rem;
}
.content .stroll-all-item .stroll-item .stroll-type-item .stroll-price-bar {
  text-align: left;
  width: 100%;
  font-size: 0.9rem;
  height: 1.5rem;
  overflow: hidden;
}
.content .stroll-all-item .stroll-item .stroll-type-item .stroll-price-bar .price {
  font-size: 1.8rem;
  line-height: 1.5rem;
  display: inline-block;
  color: #ff475d;
  font-weight: 400;
  overflow: hidden;
  text-align: left;
  width: auto;
}
.content .stroll-all-item .stroll-item .stroll-type-item .stroll-price-bar .price em {
  font-style: normal;
}
.content .stroll-all-item .stroll-item .stroll-type-item .stroll-price-bar .price .original {
  font-size: 0.9rem;
  display: inline-block;
  color: #888;
  text-decoration: line-through;
  margin-left: 5px;
}
.content .stroll-all-item .stroll-item .stroll-type-item .stroll-price-bar .comment {
  font-size: 1.4rem;
  line-height: 1.5rem;
  width: auto;
  overflow: hidden;
  float: right;
  display: inline-block;
  text-align: right;
  color: #999;
  white-space: nowrap;
  word-break: keep-all;
  text-overflow: ellipsis;
}
