html
  font-size 10px
body,html
  height 100%
#login-wrap
  overflow hidden
  height 100%
  .old_user-login
    width 100%
    height 14.1rem
    background-color #ffffff
    position relative
    overflow hidden
    .iconfont
      display inline-block
      margin-top 4rem
      margin-left 12px
      font-size 40px
      color #88b84b
      border 2px #88b84b solid
      border-radius 50%
    img
      width 12rem
      position absolute
      top 25%
      left 33%
  .bg-wrap
    background url(../../static/img/login/loginbackground.jpg)
    background-size 100% 100%
    background-position bottom
    height 526px
    .login-content
      width 100%
      height 32.5rem
      box-sizing border-box
      h1
        width 100%
        text-align center
        color #88b84b
        font-size 20px
        line-height 7rem
        margin-bottom 14px
      #wrap
        .fm_list
          li
            width 90%
            margin 0 auto
            height 5rem
            border-bottom 1px solid #dbdbdb
            position relative
            display flex
            justify-content space-between
            align-items center
            .field_ipt
              background-color transparent
              font-size 16px
              &:focus
                border none
                outline none
            .fidld_skip
              font-size 16px
              border 1px solid #88b84b
              display inline-block
              padding 8px 14px
              border-radius 5px
              color #88b84b

        .set_link
          width 90%
          margin 0 auto
          display flex
          justify-content space-between
          align-items center
          height 5rem
          .problem
            font-size 16px
            color #666
            display flex
            justify-content space-around
            a
              display inline-block
              color #88b84b
          a
            font-size 16px
            color #88b84b
        #setting
          display flex
          justify-content flex-end !important
        .btn_login
          background-color #88b84b
          color #ffffff
          display block
          width 80%
          margin 0 auto
          font-size 19px
          outline none
          line-height 40px
          border-radius 10px
          margin-top 15px
          margin-bottom 15px
        .btn_regisiter
          background-color rgba(180,180,180,.5)
          color #ffffff
          display block
          width 80%
          margin 0 auto
          font-size 19px
          outline none
          line-height 40px
          border-radius 10px
