html
  height 100%
  font-size 10px
  background-color #eeeeee
html,body{
  touch-action none
}


.container
  background-color #eee
  posi
  header
    width 100%
    background-color #88b84b
    position fixed
    top 0
    z-index 999
    margin 0 auto
    .header-content
      width 100%
      height 40px
      position relative
      color #ffffff
      .iconfont
        font-size 20px
        margin-left 12px
        position relative
        top -12px
      .header-title
        width 80%
        display inline-block
        text-align center
        margin-left 0
        font-size 20px
        line-height 40px


    .header-login-wrap
      width 100%
      background-color #f0fae6
      height 30px
      padding 8px 0 5px 0
      .header-login
        height 30px
        padding 0 5px 0 5px
        .btn-login
          vertical-align top
          width 18%
          height 30px
          line-height 30px
          font-size 15px
          display inline-block
          text-align center
          background-color #ffffff
          color #88b84b
          border 1px solid #88b84b
          margin-left 5px
          margin-right 5px
        .login-tip
          vertical-align middle
          width 75%
          display inline-block
          color #333
          font-size 14px


  .wrap-content
    margin-top 83px
    background-color #eeeeee
    .page-loadmore-wrapper
      background-color #ffffff
      width 100%
      height 30px
      vertical-align middle
      line-height 30px
      padding 8px 0 5px 0
      font-size 0
      .exch-ipt
        width 70%
        height 30px
        border 1px solid #e7e7e7
        font-size 13px
        margin 0 0 0 10px
        padding-left 10px
        &:focus
          outline none
          border 1px solid #e7e7e7
      .exch-btn
        width 18%
        height 30px
        font-size 16px
        background-color #ffffff
        border 1px solid #88b84b
        color #88b84b
        outline none


    #wrap-nodata
      width 100%
      background-color
      .carts-img
        width 100%
        text-align center
        padding-top 10px
        img
          width 160px
      .cartText
        width 100%
        text-align center
        color rgb(102,102,102)
        font-size 18px
      .carts-link
        text-align center
        margin-top 10px
        a
          display inline-block
          border 1px solid #88b84b
          padding 5px 12px
          color #88b84b
          font-size 16px
          border-radius 5px
          font-weight 100

      .wrap-cart-assem
        background-color #ffffff
        width 100%
        overflow hidden
        border-bottom 1px solid #f2f2f2
        position fixed
        bottom 4rem
        .cart-assem-title
          width 94%
          overflow hidden
          border-bottom 1px solid #ccc
          text-align left
          font-size 1.6rem
          color #333333
          line-height 2rem
          padding .8rem 3%
          p
            line-height 1.5rem

        .cart-assem-list
          width 100%
          padding 1.3rem 0
          overflow hidden
          ul
            float left
            overflow auto
            white-space nowrap
            height 12rem
            li
              margin 0 5px
              width 8rem
              overflow hidden
              display inline-block
              vertical-align top
              text-align left
              .cart-assem-item
                width 100%
                a
                  width 100%
                  display block
                  text-align left
                  font-size 1rem
                  color #333333
                  line-height 2rem
                  font-weight 400
                  text-overflow ellipsis
                  white-space nowrap
                  word-break keep-all
                  img
                    width 100%
                    display block
                    overflow hidden
                .title
                  width 100%
                  display block
                  text-align left
                  font-size 1rem
                  color #333333
                  line-height 2rem
                  font-weight 400
                  text-overflow ellipsis
                  white-space nowrap
                  overflow hidden



